/* GENERAL */
* {
  margin: 0;
}
/* \GENERAL */


/* HEADER */
header {
  display: flex;
  background-color: #255ee9;
  padding: 1% 6%;
  justify-content: space-between;
  align-items: center;
}

.links > a {
  color: white;
  text-decoration: inherit;
  padding: 0 1.5em;
}

header > button {
  background-color: white;
  height: 2.15em;
  width: 5em;
  border-radius: 1em;
  border: none;
}
/* \HEADER */


/* MAIN */
main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8% 19%;
}
/* \MAIN */


/* FIRST - SECTION */
.first {
  background-color: blue;
}

.first > div {
  text-align: center;
  background-color: violet;
}
/* \FIRST - SECTION */


/* SECOND - SECTION */
.second div:first-child {
  background-color: cornflowerblue;
  flex-grow: 2;
}

.second div:last-child {
  background-color: pink;
  flex-grow: 1;
}
/* \SECOND - SECTION */


/* THIRD - SECTION */
.third {
  background-color: grey;
}

.third div:first-child {
  background-color: pink;
  flex-grow: 1;
}

.third div:last-child {
  background-color: cornflowerblue;
  flex-grow: 2;
}
/* \THIRD - SECTION */


/* FORTH - SECTION */
.forth {
  background-color: grey;
}

.forth > div:only-child {
  background-color: green;
}
/* \FORTH - SECTION */


/* FIFTH - SECTION */
.fifth {
  background-color: #23272a;
}

.fifth div:first-child {
  background-color:tomato;
  flex-grow: 2;
}

.fifth div:not(:first-child) {
  background-color: cadetblue;
  flex-grow: 1;
}
/* \FIFTH - SECTION */


/* FOOTER - SECTION */
footer {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #23272a;
  height: 3.5em;
}

footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  height: 2.8em;
  width: 62.8%;
}

footer div > div {
  font-size: small;
  background-color: pink;
}
/* \FOOTER - SECTION */
