/* GENERAL */
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div>button {
  padding: .5em .8em;
  border-radius: 1em;
  border: none;
}

a {
  color: white;
  text-decoration: inherit;
}

h4, h5 {
  color: #7085d5;
}
/* \GENERAL */



/* HEADER */
header {
  display: flex;
  background-color: #255ee9;
  padding: 0.8% 6%;
  justify-content: space-between;
  align-items: center;
}

.links>a {
  padding: 0 1.5em;
}

header>button {
  background-color: white;
  height: 2.15em;
  width: 5em;
  border-radius: 1em;
  border: none;
}

/* \HEADER */



/* MAIN */
main>div {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* \MAIN */



/* hero - SECTION */
.hero {
  height: 27em;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  color: white;
}

.hero>h1 {
  font-size: 2.5em;
  padding-bottom: .6em;
}

.hero>p {
  text-align: center;
  max-width: 68%;
  padding-bottom: 1.2em;
}

.hero>div>:last-child {
  color: white;
  background-color: #23272a;
  margin-left: .8em;
}

/* \hero - SECTION */



/* SECOND - SECTION */
.second>img {
  padding-right: 2em;
}


/* \SECOND - SECTION */



/* SECOND & THIRD */
.second, .third {
  padding: 5% 13%;
}

.second>img, .third>img {
  width: 35em;
}

.second>div>h2, .third>div>h2, .forth>div>h2 {
  font-size: 2.5em;
  padding-bottom: 0.75em;
}

.second>div>p, .third>div>p {
  max-width: 19.5em;
}
/* \SECOND & THIRD */



/* THIRD - SECTION */
.third {
  background-color: #f6f6f6;
}
/* \THIRD - SECTION */



/* FORTH - SECTION */
.forth {
  background-color: #f6f6f6;
  flex-direction: column;
  padding: 5% 10%;
}

.forth>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forth>div>p {
  text-align: center;
  max-width: 50em;
}

.forth>img {
  width: 66em;
  padding-bottom: 3%;
}

.forth>div>img {
  position: absolute;
}

.forth>div>h3 {
  padding: 1.5em 0;
  font-size: 1.7em;
}

.forth>div>button {
  color: white;
  background-color: #7288da;
}
/* \FORTH - SECTION */



/* FIFTH - SECTION */
.fifth {
  background-color: #23272a;
  align-items: flex-start;
  padding: 0;
}

.fifth div:first-child {
  margin-right: 1em;
}

h4 {
  font-size: 1.5em;
}

.fifth>div>h5 {
  padding-bottom: 1.5em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding-bottom: 1em;
}
/* \FIFTH - SECTION */



/* FOOTER - SECTION */
footer {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #23272a;
  height: 3.5em;
}

footer>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  height: 2.8em;
  width: 62.8%;
}

footer div>div {
  font-size: small;
  background-color: pink;
}
/* \FOOTER - SECTION */